.logo {
    height: 32px;
    margin:16px 0px;
    background-size: contain;
}
.checkAll {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    text-align: center;
    margin-bottom: -10px;
}
.checkAll:hover {
    color: #40a9ff
}